aclocal.m4
autom4te.cache
bin/remote-control-client
bin/remote-control-client.lds
build-aux/*
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
Makefile
Makefile.in
remote-control-stub.[ch]
stamp-h1
tests/media-player-test
.deps
.libs
.*.log
*.pc
.*.swp
*.tap
*.[oa]
*.l[oa]
